body {
  font-family: 'Slabo 27px', serif;
}

/*header navigation bar*/
header {
  background-color: white;
  height: 70px;
}
h1 {
  display: inline-block;
}
h1 a {
  display: inline-block;
  padding: 25px;
  font-size: 20px;
  color: gray;
}
h1 a:hover {
  background-color: gray;
  color: white;
  height: 20px;
}
nav{
  float: right;
  font-size: 20px;
}
li {
  display: inline-block;
}
li a{
  display: inline-block;
  padding: 25px;
  color: gray;
  text-decoration: none;
}
li a:hover {
  background-color: gray;
  color: white;
  height: 20px;
}

/*Home page*/
a {
  text-decoration: none;
}

#hero {
  background: url("./images/background-image.jpg") no-repeat;
  background-size: cover;
  height: 700px;
  width: width;
  text-align: center;
}

.intro {
  font-size: 90px;
  color: white !important;
  padding-top: 160px;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#hero p {
  font-size: 60px;
  color: white;
  margin: 20px 150px;
  text-align: center;
  text-shadow: -1px 0 black, 0 1px black, 1px 0 black, 0 -1px black;

}

#hero a {
  font-size: 20px;
  text-transform: uppercase;
  color: rgb(57, 60, 65) !important;
}


.button {
  background-color: rgb(208, 208, 208);
 border: 1px solid gray;
 padding: 10px 30px;
 text-align: center;
 display: inline-block;
 font-size: 16px;
}

.more-button {
  font-size: 30px;
  margin: 60px;
  text-align: center;
}

.button:hover {
  background-color: gray;
}

.container {
  position: relative;
  height: 600px;
}

.container h3 {
  color: rgb(57, 60, 65) !important;
  font-size: 60px;
  padding: 60px;
  text-align: center;
}

.three-columns-1 {
  display: inline-block;
  margin-left: 170px;
  margin-right: 270px;
}

.three-columns-2 {
  display: inline-block;

}

.three-columns-3 {
  display: inline-block;
  margin-left: 270px;
}

.discription {
  opacity: 0;
  position: absolute;
  text-align: center;
  width: 250px;
  margin: 120px 25px;;
  color: white;
  background: #000000;
  display: none;
}

a:hover .picture {
  display: clear;
  ocacity: 0.8;
}

.picture {
  border-radius: 100%;
  border: 2px solid gray;
  height: 280px;
  width: 280px;
  position: absolute;
}

.project-title {
  /*text-decoration: none;*/
  font-size: 25px;
  margin-top: 260px;
  color: gray;
}

/*footer*/
footer {
  background-color: gray;
  height: 70px;
  text-align: center;
  padding-top: 40px
}

footer a {
  padding: 30px;
}

footer img:hover {
  height: 30px;
  width: 30px;
}

/*about me*/
.bio {
  text-align: center;
  background: rgb(115, 80, 102);
  height: 700px;
}

.bio h2 {
  font-size: 80px;
  color: white !important;
  padding-top: 60px;
}

.paragraph {
  color: white;
  font-size: 25px;
  text-align: center;
  margin: 20px 220px
}

.bio img {
  height: 240px;
  width: 200px;
  border-radius: 100%;
  border: 3px solid rgb(57, 60, 65);
}

#skills {
  color:  rgb(57, 60, 65);
  padding: 5%;
  text-align: center;
  display: inline-block;
  width: 15%;
  float: left;
}

#skills h3 {
  font-size: 60px;
  padding-bottom: 40px;
  text-align: center;
}

#skills h5 {
  font-size: 20px;
  display: block;
  padding-bottom: 40px;
}

#experience {
  padding: 5%;
  color:  white;
  background-color: rgb(57, 60, 65);
  text-align: left;
  display: inline-block;
  width: 65%;
}

#experience .jobs {
  /*padding-bottom: 10px;*/
}

#experience h3 {
  font-size: 60px;
  padding-bottom: 40px;
  text-align: center;
}

#experience h4 {
  font-size: 30px;
}

#experience h5 {
  font-size: 20px;
  padding: 10px 20px;
  font: sans-serif;
}

#experience p {
  padding: 0px 0px 40px 20px;
  font-size: 18px;
    font: sans-serif;
}


/*my work*/

#mywork {
  background-color: rgb(57, 60, 65);
  position: relative;
  height: 1300px;
}

#mywork h3 {
  color: white !important;
  font-size: 80px;
  padding: 60px;
  text-align: center;
}

@media screen and (max-width: 880px) {
  #experience, #skills {
    display: block;
    width: 100%;
  }

  #skills {
    background-color: white;
  }

  #skills h5 {
    display: inline-block;
    padding: 15px;
  }

  #experience h3 {
    margin-top: 200px;
  }
